@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./assets/background.jpg);
}
.caption{
  
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
     height: calc(100vh - 87.2px);
    z-index: 9999;
    margin-top: 30px;
}
h6{
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}

h2{
  
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    font-size: 45px;
}

em{
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 46px;
    box-sizing: border-box;
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}
