@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./assets/background.jpg);
    max-width: 100vw;
    overflow-x: hidden;
}
.caption{
  
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
     height: calc(100vh - 87.2px);
    z-index: 9999;
    margin-top: 30px;
}
.homeDes{
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}

h2{
  
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    font-size: 45px;
}

em,.glimpses,.about,.subH,.subH2,.heading{
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 46px;
    box-sizing: border-box;
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}
.glimpses,.subH{
    font-size: 30px;
}
.subH2{
    font-size: 22px;
}
.profile{
    filter: brightness(50%) contrast(150%) saturate(50%);
}
.acaHeading{
    font-size: 40px;
}
.acaDes{
    
    letter-spacing: normal;
    list-style: none;
    outline: 0;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    line-height: 1.1;
    margin-top: 20px;
    text-transform: uppercase;
    color: #b5b5af;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 17px;
    float: none;
    width: auto;
    text-align: center;
    
}
.liClass{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    outline: 0;
    margin: 0 auto;
    border-radius: 0;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-fill-mode: both;
    overflow: hidden;
    display: inline-block;
    letter-spacing: normal;
    list-style: none;
    margin-bottom: 30px;
    position: relative;
    padding: 0 2%;
    width: 100%;
    visibility: visible;
    animation-name: fadeInLeft;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .parentClass{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 105px;
    margin-top: 60px;
  }


  /* CSS */

  @media (max-width: 1300px) {
    /* Styles for screens with a width of 676px or less */
    .parentClass {
     grid-template-columns: 1fr 1fr;
    }
  }
@media (max-width: 676px) {
    /* Styles for screens with a width of 676px or less */
    .parentClass {
     grid-template-columns: 1fr;
    }
  }


  
 